<!-- <div id="div_response">
    <h2>Response</h2>
    <p id="response_code"><strong>Code:</strong><%=response.code%></p>
    <p id="response_message"><strong>Message:</strong><%=response.message%></p>
    <p id="response_method"><strong>Method:</strong><%=response.method%></p>
    <p id="response_error"><strong>Error:</strong><%=response.error%></p>
    <p id="response_alert"><strong>Alert:</strong><%=response.alert%></p>
</div> -->