<% let style = "" %>
<% if (response.alert == "danger")  { style="alert alert-danger flashAlert";     s = "Error:";       p = response.message; show = true; }  %>
<% if (response.alert == "warning") { style="alert alert-danger flashAlert";     s = "Warning:";     p = response.message; show = true; }  %>
<% if (response.alert == "info")    { style="alert alert-info flashAlert";       s = "Info:";        p = response.message; show = true; }  %>
<% if (response.alert == "success") { style="alert alert-success flashAlert";    s = "Success:";     p = response.message; show = true; }  %>

<div id="div_response" class="<%=style%>">
    <!-- <h1>Error</h1> -->
    <p id="response_code"><strong>Code: </strong><%=response.code%></p>
    <p id="response_message"><strong>Message: </strong><%=response.message%></p>
    <p id="response_method"><strong>Method: </strong><%=response.method%></p>
    <p id="response_error"><strong>Error: </strong><%=response.error%></p>
    <p id="response_alert"><strong>Alert: </strong><%=response.alert%></p>
</div>